*{
    margin: 0;
}
header{
    background-color: #61776C;
}

body{
    background-color: #FFEAC5;
}
.pictues{
    width: 18rem        ;
}
#test{
    width: 75%;
}
.headTitle{
    color: white;

}
h1{
    display: inline;
}
article{
    margin-bottom: 3%;
}